/*color variables*/

:root {

	/*	background colors*/
	--bg-light: #FCF4EF;
	--bg-dark: #121212;

	/*  logo colors*/
	--red: #de5c5c;
	--transparent: #de5c5c00;

}

/*******************************/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-light);
}

.top {
	background-color: var(--bg-light);
	display: flex;
	text-align: center;
	justify-content: center;
}




/*logo styling*/

.logo {
	display: flex;
	padding-left: 20vw;
	padding-right: 20vw;
	padding-top: 2vh;
}

.logo h1 {
	-webkit-text-stroke: 2px var(--red);
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--red);
}

.logo h2 {
	-webkit-text-stroke: 2px var(--red);
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--transparent);
}




/*night mode logo styling*/

.night {
	height: 2.5vh;
	padding-top: 2vh;
}



/*notification logo styling*/

.notification {
	height: 2.5vh;
	padding-top: 2vh;
}